# Since .env is gitignored, you can use .env.example to build a new `.env` file when you clone the repo.
# Keep this file up-to-date when you add new variables to \`.env\`.

# This file will be committed to version control, so make sure not to have any secrets in it.
# If you are cloning this repo, create a copy of this file named `.env` and populate it with your secrets.

# We use dotenv to load environment variables from a .env file into system environment variables.

# Database
DATABASE_URL="mongodb://localhost:27017/betteralexa"

# Public Firebase Config
NEXT_PUBLIC_API_KEY=
NEXT_PUBLIC_AUTH_DOMAIN=
NEXT_PUBLIC_PROJECT_ID=
NEXT_PUBLIC_STORAGE_BUCKET=
NEXT_PUBLIC_MESSAGING_SENDER_ID=
NEXT_PUBLIC_APP_ID=

# Base URL for API requests
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Secret Firebase Config
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Public Google Sign In Config (for Expo)
ANDROID_GOOGLE_CLIENT_ID=
IOS_GOOGLE_CLIENT_ID=
EXPO_GOOGLE_CLIENT_ID=

# OpenAI Secret Credentials (for sample Speech-to-Text and Call-to-Action APIs)
OPENAI_API_KEY=

# Microservices URLs
SPEECH_TO_TEXT_URL="http://localhost:3001/speech-to-text"
COMMAND_TO_ACTION_URL="http://localhost:3001/command-to-action"
TEXT_TO_SPEECH_URL="http://localhost:3001/text-to-speech"