certifi
cffi
charset-normalizer
coloredlogs
EfficientWord-Net
filelock
flatbuffers
fsspec
humanfriendly
idna
jinja2
MarkupSafe
mpmath
networkx
numpy
onnxruntime
packaging
protobuf
PyAudio
pycparser
requests
scipy
sounddevice
soundfile
sympy
torch
torchaudio
typing-extensions
urllib3
