torch
transformers
bitsandbytes
accelerate 
trl
uvicorn
openai-whisper
fastapi
wikipedia-api
flask
beautifulsoup4
python-multipart
pvrecorder
deep_translator
lingua-language-detector

llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-readers-file

sounddevice
