
form .input-group .form-control {
    white-space: pre-wrap;
}

textarea#message-input {
    resize: none;
    overflow-y: hidden; /* Optional: remove vertical scrollbar, and hide the one caused by overflow */
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4070f4;
}

.container {
    width: 100%;
    max-width: 6000px;
}

.chat-box {
    height: calc(100vh - 120px); /* Assuming the typing area is approximately 120px tall */
    overflow-y: auto;
    border-radius: 15px; /* Optional: round the corners of the chat box */
    box-shadow: 0px 10px 20px rgba(0,0,0,0.15); /* Optional: add a shadow for a 'floating' effect */
}

form {
    margin-top: 5px;
}

.rate {
    float: left;
    height: 0px;
    padding: 0px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

#rating .fa {
    color: gray;
    cursor: pointer;
}

.typing {
    align-items: center;
    display: flex;
    height: 17px;
}
.typing .dot {
    animation: mercuryTypingAnimation 1.8s infinite ease-in-out;
    background-color: #8e8e8e ;
    border-radius: 50%;
    height: 7px;
    margin-right: 4px;
    vertical-align: middle;
    width: 7px;
    display: inline-block;
}
.typing .dot:nth-child(1) {
    animation-delay: 200ms;
}
.typing .dot:nth-child(2) {
    animation-delay: 300ms;
}
.typing .dot:nth-child(3) {
    animation-delay: 400ms;
}
.typing .dot:last-child {
    margin-right: 0;
}

@keyframes mercuryTypingAnimation {
    0% {
        transform: translateY(0px);
        background-color:#8e8e8e;
    }
    28% {
        transform: translateY(-7px);
        background-color:#b7b7b7;
    }
    44% {
        transform: translateY(0px);
        background-color: #d9d9d9;
    }
}
