<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Continuous Audio Recorder</title>
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <script src="{{ url_for('static', filename='continous_recording.js') }}"></script>
</head>

<body>
    <h1>Continuous Audio Recorder</h1>
    <p>Audioaufnahme läuft...</p>
    <script>
        startRecording();
    </script>
</body>

</html>